body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  a {
    text-decoration: none;
  }
}




.main-block {
  position: relative;
  top: 0px;
  left: 0px;
  // width: 3840px;
  // height: 3240px;
  background: black;
  // background: conic-gradient($colors);
  will-change: transform;
  transform: translate(-720px, -766px);
  transition: transform .5s ease-in-out;

  &__canvas {
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }

  &__1,
  &__2,
  &__3,
  &__4,
  &__5 {
    position: absolute;
    width: 1440px;
    height: 766px;
  }

  &__1 {
    top: 0px;
    left: 0px;
    background: white;

    .title {
      position: relative;
      font-size: 100px;
      font-weight: 900;
      width: 30%;
      top: 10%;
      left: 60%;
    }

    iframe {
      position: absolute;
      height: 100%;
      width: 50%;
      left: 0px;
      pointer-events: none;
    }

    .button {
      position: absolute;
      width: 10%;
      top: 70%;
      left: 60%;
      text-align: center;
    }

    .button-primary {
      background: black;
      padding: 20px;
      color: white;
      font-size: 24px;
      font-weight: bold;
      border-radius: 30px;
      transform: scale(1);
      transition: transform .5s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__2 {
    top: 0px;
    left: 1440px;
    background: black;

    .fan {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      left: 100px;
    }
  }

  &__3 {
    top: 766px;
    left: 720px;
    background: #666666;

    .circuit-board {
      position: absolute;
      top: calc((100vh - 400px)/2);
      left: calc((100vw - 400px)/2);
    }
  }

  &__4 {
    top: 1532px;
    left: 0px;
    background: green;
  }

  &__5 {
    top: 1532px;
    left: 1440px;
    background: blue;
  }
}

.bottom-choose {
  position: absolute;
  padding: 10px;
  z-index: 9999;
  bottom: 30px;
  width: 30%;
  left: 35%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 50px;
  border: 3px solid black;
  background: rgba(255, 255, 255, 0.5);

  >.bottom-choose__item {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    padding: 8px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid;
    border-color: transparent;

    &:hover {
      cursor: pointer;
    }

    &.active {
      font-weight: bolder;
      border-color: black;
      transition: border-color .5s;
    }
  }
}