body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card-02 {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  max-width: 568px;
  border: 2px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.card-02__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 48px 60px 50px 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 24px 24px 0px 0px;
  background: #F8F8F8;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}

.card-02:hover .card-02__top {
  background: #6B8FB7;
}

.card-02__bottom {
  padding: 32px 40px 40px 40px;
  border-radius: 0px 0px 24px 24px;
  background: #FFFFFF;
}

.card-02 .card-02-top__img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -12px;
  margin-bottom: -20px;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.card-02 .card-02-top__img-list .card-02-top__img-container {
  display: inline-block;
  width: 102px;
  height: 102px;
  margin-right: 12px;
  margin-bottom: 20px;
}

.card-02 .card-02-top__img-list .card-02-top__img-container > img {
  max-width: 100%;
  max-height: 100%;
}

.card-02 .card-02-top__img-list .card-02-top__img-container--text {
  background: #666666;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.08px;
  color: #ffffff;
}

.card-02 .card-02-bottom__title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 60px;
  letter-spacing: 0.09px;
  color: #333333;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.card-02 .card-02-bottom__description {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: -0.06px;
  color: #B4B4B4;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.card-02:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 6px solid #3C5979;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  -webkit-filter: drop-shadow(0px 0px 16px rgba(60, 89, 121, 0.4));
          filter: drop-shadow(0px 0px 16px rgba(60, 89, 121, 0.4));
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */