body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  perspective: 1000px;
}

.card-02 {
  transform-style: preserve-3d;
  position: relative;
  max-width: 568px;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 24px;
  transition: transform .5s ease-out;

  &::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    background: #aaaaaa;
    top: -5%;
    left: 0%;
    opacity: 0;
    transform: translateZ(0px);
    transition: all .5s ease-out;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    transform: translateZ(0px);
    transition: all 0.5s ease-out;
  }


  &:hover {
    &::before {
      opacity: 1;
      transform: translateZ(-100px);
    }
  }




  &__top {
    position: relative;
    display: flex;
    padding: 48px 60px 50px 60px;
    justify-content: center;
    border-radius: 24px 24px 0px 0px;
    background: #F8F8F8;
    transition: background 0.5s ease-out;

  }

  &:hover &__top {
    background: #6B8FB7;
  }


  &__bottom {
    padding: 32px 40px 40px 40px;
    border-radius: 0px 0px 24px 24px;
    background: #FFFFFF;
  }

  .card-02-top {

    &__img-list {
      transform-style: preserve-3d;
      display: flex;
      flex-wrap: wrap;
      margin-right: -12px;
      margin-bottom: -20px;
      transition: transform 0.5s ease-out;

      .card-02-top__img-container {
        position: relative;
        display: inline-block;
        width: 102px;
        height: 102px;
        margin-right: 12px;
        margin-bottom: 20px;

        >img {
          max-width: 100%;
          max-height: 100%;
        }


        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: #556b82;
          opacity: 0;
          top: 0;
          left: 0;
          transform: translateZ(0px);
          transition: all .5s ease-out;
          -webkit-filter: blur(10px);
          -moz-filter: blur(10px);
          -o-filter: blur(10px);
          -ms-filter: blur(10px);
        }

        &.shadow-active {
          &::before {
            opacity: 1;
            transform: translateZ(-150px);
          }
        }

        &--text {
          background: #666666;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;

          font-style: normal;
          font-weight: 500;
          font-size: 34px;
          line-height: 28px;
          text-align: center;
          letter-spacing: 0.08px;
          color: #ffffff;
        }
      }
    }

  }

  .card-02-bottom {
    &__title {
      transform-style: preserve-3d;
      position: relative;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 60px;
      letter-spacing: 0.09px;
      color: #333333;
      transition: transform 0.5s ease-out;

      &::before {
        content: "NEUX設計小組";
        font: inherit;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateZ(0px);
        color: transparent;
        text-shadow: 0 0 5px #333333;
        opacity: 0;
        transition: all .5s ease-out;
      }

      &.shadow-active {
        &::before {
          opacity: 1;
          transform: translateZ(-100px);
        }
      }


    }

    &__description {
      transform-style: preserve-3d;
      position: relative;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 46px;
      letter-spacing: -0.06px;
      color: #888888;
      transition: transform 0.5s ease-out;

      &::before {
        content: "20個專案";
        font: inherit;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateZ(0px);
        color: transparent;
        text-shadow: 0 0 5px #888888;
        opacity: 0;
        transition: all .5s ease-out;
      }

      &.shadow-active {
        &::before {
          opacity: 1;
          transform: translateZ(-100px);
        }
      }

    }
  }

  &:hover {

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      border: 6px solid #3C5979;
      box-sizing: border-box;
      border-radius: 24px;
      transform: translate(-2px, -2px);
      filter: drop-shadow(0px 0px 16px rgba(60, 89, 121, 0.4));
      pointer-events: none;
    }
  }

}