body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  perspective: 1000px;
}

.card-02 {
  transform-style: preserve-3d;
  position: relative;
  max-width: 568px;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 24px;
  transition: transform .5s ease-out;

  &__top {
    position: relative;
    display: flex;
    padding: 48px 60px 50px 60px;
    justify-content: center;
    border-radius: 24px 24px 0px 0px;
    background: #F8F8F8;
    transition: background 0.5s ease-out;

  }

  &:hover &__top {
    background: #6B8FB7;
  }


  &__bottom {
    padding: 32px 40px 40px 40px;
    border-radius: 0px 0px 24px 24px;
    background: #FFFFFF;
  }

  .card-02-top {

    &__img-list {
      display: flex;
      flex-wrap: wrap;
      margin-right: -12px;
      margin-bottom: -20px;
      transition: transform 0.5s ease-out;

      .card-02-top__img-container {
        display: inline-block;
        width: 102px;
        height: 102px;
        margin-right: 12px;
        margin-bottom: 20px;

        >img {
          max-width: 100%;
          max-height: 100%;
        }

        &--text {
          background: #666666;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;

          font-style: normal;
          font-weight: 500;
          font-size: 34px;
          line-height: 28px;
          text-align: center;
          letter-spacing: 0.08px;
          color: #ffffff;
        }
      }
    }

  }

  .card-02-bottom {
    &__title {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 60px;
      letter-spacing: 0.09px;
      color: #333333;
      transition: transform 0.5s ease-out;
    }

    &__description {
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 46px;
      letter-spacing: -0.06px;
      color: #B4B4B4;
      transition: transform 0.5s ease-out;
    }
  }

  &:hover {

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      border: 6px solid #3C5979;
      box-sizing: border-box;
      border-radius: 24px;
      transform: translate(-2px, -2px);
      filter: drop-shadow(0px 0px 16px rgba(60, 89, 121, 0.4));
      pointer-events: none;
    }
  }

}